.header {
display: flex;
padding-inline: 50px;
justify-content: center;
height: 50px;
width: 100%;
align-items: center;

}
.header a{
 text-decoration: none;
 color: var(--white);
}
.menuList {
 display: flex;
 gap:20px;
 font-weight: 400;
 font-size: 1.2rem;
 list-style: none;
}
.menuList li a{
 padding: 12px;
 transition: 0.1s;
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
}
.menuList li a:hover{
 border-bottom: 2px solid var(--white);
}